<% provide(:title, "Login") %>
<h1>Login</h1>


<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control input-sm" %>

      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control input-md" %>

      <%= f.submit "Login to my account", class: "btn btn-primary" %>
      <p>
      New user? <%= link_to "Sign up here", signup_path %>
    <% end %>
  </div>
</div>
